- if @note
  %form{:action => "/#{@note.id}", :method => 'POST', :id => 'edit'}
    %textarea{:name => 'content'}
      = @note.content
    %input{:type => 'checkbox', :name => 'complete', :checked => @note.complete}
    %input{:type => 'submit'}

