.content
  %h2 Add notes here
  %section#add
    %textarea#note{:name => 'content', :placeholder => 'note here...'}
    %input#submit.ui-btn-hidden{:type => 'button', :'data-theme' => 'a', :value => 'noting'}

  .notes-container#notes-container
