.content#content
  %section#notes
    %header#header
      %input{:id => 'new-note', :placeholder => 'note here!', :autofocus => 'autofocus', :type => 'text'}
      %hr{:noshade => 'noshade'}
    %section#main
      #indicator
      %ul#note-list
