%section#add
  %form{:action => '/', :method => 'POST'}
    %textarea{:name => 'content', :placeholder => 'note here...'}
    %input{:type => 'submit', :value => 'note'}

.notes-container
  - @notes.each do |note|
    = note.content
