%section#add
  %form{:action => '/', :method => 'POST'}
    %textarea{:name => 'content', :placeholder => 'note here...'}
    %input{:type => 'submit', :value => 'note'}

.notes-container
  - @notes.each do |note|
    %article{:class => note.complete ? 'complete' : '' }
      %p
        = note.content
        %span
          %a{:href => "/#{note.id}"} [Edit]
      %p{:class => 'links'}
        %a{:href => "/#{note.id}/complete"} [Complete]
      %p{:class => 'meta'}
        created: "#{note.created_at}"
