.content
  %h2 Add notes here
  %section
    %textarea#note{:name => 'content', :placeholder => 'note here...'}
    %a#submit{:'data-role' => 'button', :'data-theme' => 'a', :rel => 'external'} Noting

  .notes-container#notes-container
