#notes-list-page{:'data-role' => 'page', :'data-title' => 'feather'}
  %div{:'data-role' => 'header', :'data-position' => 'fixed'}
    %h1
      Signin
  #notes-list-content{:'data-role' => 'content'}
    Please login first:
    %ul#notes-list{:'data-role' => 'listview', :'data-inset' => 'true'}
      %li
        %a{:href => '/auth/github'}
          Signin with Github
