#index-container
  #dialogs
    %span Signin with
    %ul.signin
      %li.btn.btn-info 
        %a{:href => '/auth/github'}
          %img{:src => '/images/github.png'} signin with 
          %b Github
      %li.btn.btn-info
        %a{:href => '#'}
          %img{:src => '/images/google.png'} signin with
          %b Google
