#index-container

#signup-dialog{:title => 'Please sign up'}
  .login-form
    %form.form-signin{:action => '/signup', :method => 'POST'}
      %input.input-block-level{:type => 'text', :name => 'email', :placeholder => 'Email address'}
      %input.input-block-level{:type => 'password', :name => 'password', :placeholder => 'Password'}
      %input.input-block-level{:type => 'password', :name => 'password-confirm', :placeholder => 'Confirm Password'}
      %button.btn.btn-large.btn-primary{:type => 'submit'} Sign up

#login-dialog{:title => 'Please login'}
  .login-form
    %form.form-signin{:action => '/login', :method => 'POST'}
      %input.input-block-level{:type => 'text', :name => 'email', :placeholder => 'Email address'}
      %input.input-block-level{:type => 'password', :name => 'password', :placeholder => 'Password'}
      %button.btn.btn-large.btn-primary{:type => 'submit'} Login

