#index-container
  #dialogs
    %span Signin with
    %ul.signin
      %li.btn.btn-info 
        %img{:src => '/images/github.png'} signin with 
        %b Github
      %li.btn.btn-info
        %img{:src => '/images/google.png'} signin with
        %b Google
