#notes-list{'data-role': 'page', 'data-title': 'feather'}
  %div{'data-role': 'header', 'data-position': 'fixed'}
    %h1
      Notes
      %a.ui-btn-right{href: '#note-edit', 'data-theme': 'b', 'data-icon': 'plus'}
        New
  #notes-list-content{'data-role': 'content'}
    %ul#notes-list-view{'data-role': 'listview'}

