%form.form-inline{action: "/notes", method: 'POST'}
  %textarea.input-xxlarge{type: 'text', id: 'content', name: 'content', placeholder: 'note here...'}
  %input.btn.btn-primary{type: 'button', id: 'save', value: 'note'}
