%form.form-inline{:action => "/notes", :method => 'POST'}
  %textarea.input-xxlarge{:type => 'text', :name => 'content', :placeholder => 'note here...'}
  %input.btn.btn-primary{:type => 'submit', :value => 'note'}
