#note-edit{'data-title': 'Edit Note'}
  %div{'data-role': 'header', 'data-position': 'fixed'}
    %a{'href': '#notes-list', 'data-icon': 'back', 'data-rel': 'back'}
      Cancel
    %h1
      Edit Note
    %a#save-note{'data-theme': 'b', 'data-icon': 'check'}
      Save
  %div{'data-role': 'content'}
    %form#note-edit-form
      %label{'for': 'content'}
        Content:
      %input#content{'type': 'text', 'name': 'content', 'value': model.get('content')}
  %div.ui-bar{'data-role': 'footer', 'data-position': 'fixed'}
    %a#delete{'data-icon': 'delete', 'data-transition': 'slideup', 'data-rel': 'dialog'}
      Delete
