.note-item
  %i.toggle{class: model.get('complete') === true ? 'icon-check' : 'icon-check-empty' }
  %label
    = model.get('content')
  %i.destroy.icon-remove
%input{class: 'edit', type:'text', value: model.get('content')}
